<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Cleaner Tomorrow</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>

</head>
<body class="bg-cover bg-no-repeat bg-center background-image">

    <!-- TODO: move control to hbs partials, move script to separate script file. -->

    <div class="h-full container mx-auto px-4">
        <div class="h-full text-white flex items-center flex-col pt-12">
            <h1 class="text-5xl font-bold mb-4">Welcome to a Cleaner Tomorrow!</h1>
            <p class="text-xl mb-8">About the project</p>
            <div class="h-full flex items-center justify-center flex-col">
                

                    
    </div>
</div>